<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nanoant.blueswitch</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/blueswitch</string>
		<!-- dongle's hexadecimal location (use Bluetooth Explorer) -->
		<string>14300000</string>
		<!-- dongle's MAC address -->
		<string>00-11-22-33-44-55</string>
	</array>
	<!-- run when job is loaded (system started) -->
	<key>RunAtLoad</key>
	<true/>
	<!-- run it again if exits on error -->
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<!-- observe Bluetooth configuration changes -->
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/com.apple.Bluetooth.plist</string>
	</array>
</dict>
</plist>
